@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.plus-icon:hover {
  filter: brightness(100) saturate(100%) invert(29%) sepia(88%) saturate(748%)
    hue-rotate(90deg) brightness(92%) contrast(92%);
}

.delete-icon:hover {
  filter: invert(28%) sepia(95%) saturate(7486%) hue-rotate(357deg)
    brightness(102%) contrast(119%);
}

.edit-icon:hover {
  filter: invert(18%) sepia(100%) saturate(10000%) hue-rotate(60deg) brightness(110%)
    contrast(100%);
}
